# Supabase Configuration
VITE_SUPABASE_URL=https://hoiotcbuumzjgbdzvavm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qvQX70dLzJzUFOs60aE2sA_wq97ZZ3i

# AI Service Configuration
AI_API_KEY=
